h1 {
    color: blue;
    border-bottom: double 6px #87CEFA;
}

/* バブル形式のフィルター表示 */
#filterList .filter-bubble {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 20px;
    background-color: #e0e0e0;
    color: #000;
}

#filterList .filter-bubble .remove-filter {
    margin-left: 10px;
    cursor: pointer;
}

.filter-bubble-basic {
    background-color: #d1ecf1 !important;
}

.filter-bubble-skill {
    background-color: #d4edda !important;
}

.filter-bubble-qualification {
    background-color: #fff3cd !important;
}

.filter-bubble-training {
    background-color: #f8d7da !important;
}

/* Highlighted Rows */
.highlight {
    background-color: #e8f8f5;
}

/* Fixed Headers and Columns */
.table thead th.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020; /* Ensure it stays above other cells */
    background-color: #f8f9fa;
}

.table tbody td.sticky-left,
.table tbody th.sticky-left {
    position: sticky;
    left: 0;
    z-index: 1010; /* Ensure it stays above other cells */
    background-color: #f8f9fa;
    width: 40px; /* Adjust this value based on your column width */
}

.table tbody td.sticky-left-2,
.table tbody th.sticky-left-2 {
    position: sticky;
    left: 40px; /* Adjust this value based on your column width */
    z-index: 1005; /* Ensure it stays above other cells */
    background-color: #f8f9fa;
    width: 120px; /* Adjust this value based on your column width */
}

/* Ensure both columns are fixed */
.table thead th.sticky-left,
.table tbody td.sticky-left {
    position: sticky;
    left: 0;
    z-index: 1030;
    background-color: #f8f9fa;
    width: 40px; /* Adjust this value based on your column width */
}

.table thead th.sticky-left-2,
.table tbody td.sticky-left-2 {
    position: sticky;
    left: 40px; /* Adjust this value based on your column width */
    z-index: 1025;
    background-color: #f8f9fa;
    width: 120px; /* Adjust this value based on your column width */
}